# https://www.youtube.com/watch?v=HzNOkj86D8I

In [7]:
host='localhost'
user="root"
password=""

import mysql.connector as mysql

db = mysql.connect(
    host=host,user=user, password=password
)

cursor = db.cursor()

# #Membuat database baru
# cursor.execute("CREATE DATABASE mydatabase")

# # Menghapus database
# cursor.execute("DROP DATABASE mydatabase")

# #Melihat daftar database yang sudah dibuat
# cursor.execute("SHOW DATABASES")
# data = cursor.fetchall()
# print(data)

#Menunjuk database yang akan dipakai
db.database="mydatabase"

#Membuat tabel di database
# cursor.execute('''
#     CREATE table data_pelanggan(
#     ID INT NOT NULL AUTO_INCREMENT,
#     nama VARCHAR(100) NOT NULL,
#     alamat TEXT NOT NULL,
#     tanggal DATE,
#     PRIMARY KEY(ID))
# ''')

#Menghapus tabel di database
# cursor.execute("DROP TABLE data_pelanggan")
# db.commit()

# Menampilkan informasi dari tabel di database
# cursor.execute("Select * From INFORMATION_SCHEMA.COLUMNS Where TABLE_NAME = 'data_pelanggan'")
# print(cursor.fetchall())

# #Menghapus column database yang tidak dipakai
# cursor.execute("ALTER TABLE data_pelanggan DROP tanggal")


#Menambahkan data ke tabel database
# cursor.execute("INSERT INTO data_pelanggan (nama, alamat) VALUES('agus', 'jogja')")
# db.commit()

#Update data ke tabel database
# cursor.execute("UPDATE data_pelanggan SET nama='burhan' WHERE id='1'")
# cursor.execute("UPDATE data_pelanggan SET alamat='solo' WHERE id='1'")
# db.commit()

# #Delete data ke tabel database
# cursor.execute("DELETE FROM data_pelanggan WHERE nama='burhan'")
# db.commit()


#Menampilkan semua data di tabel database
cursor.execute("SELECT * FROM data_pelanggan WHERE nama='agus'")
data = cursor.fetchall()
for row in data:
    print(row)


# Menampilkan isi tabel database
# cursor.execute("SHOW TABLES")
# data = cursor.fetchall()
# print(data)

(3, 'agus', 'jogja')
(4, 'agus', 'jogja')